.wrapper {
width: 1200px;
margin: 0 auto;
}

#pageheader {
background-color: bisque;
}

.ourmenu {
background-color: chartreuse;
}

img.logo {
width: 250px;
height: auto;
}

.ourmenu ul li {
display: inline;
}

#table1, #table1 th, #table1 td {
border: 1px solid #000;
}

#table1 {
background-color: aqua;
}