.wrapper {
width: 1000px;
margin: 0 auto;
}

#pageheader {
background-color: bisque;
}

.ourmenu {
background-color: chartreuse;
}

img.logo {
width: 250px;
height: auto;
}

.ourmenu ul li {
display: inline;
}

#table1 th, #table1 td {
border: 1px solid #000;
text-align: center;

}

#table1 {
background-color: aqua;
width: 100%;
border-collapse: collapse;
}